card-container {
    display: flex;
    flex-wrap: wrap;  /* Allows wrapping for smaller screens */
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

/* Card Styling */
.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
    object-fit: fill;
}

.card h3 {
    font-size: 1.2rem;
    padding: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .card-container {
        justify-content: space-between;
    }

    .card {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}
